#card{
    display: flex;
    background-color: beige;
    min-width: 200px;
    min-height: 200px;
    justify-content: center;
    align-items:center;
    position: relative;
}

#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    white-space:pre-wrap;
    
}

#closeButton{
    position: absolute;
    top: 0px;
    right: 0px;
}

#checkBoxContainer{
    position: absolute;
    top: 0px;
}
input[type='checkbox']{
    accent-color: green;
}
input:checked +label {
    color: rgb(42, 148, 10);
    border: dotted rgba(36, 128, 0, 0.228);
    background-color: rgba(155, 255, 155, 0.338);
    
  }
  